@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Poppins;
  overflow-x: hidden;
  color: #2a2c41;
  background-color: #fff6ea;
}

/* navbar begin */
nav {
  display: flex;
  background-color: #fff6ea;
  justify-content: space-around;
  padding: 2.5vh;
  align-items: center;
  color: #2a2c41;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 0px;
}

nav ul li a {
  color: #2a2c41;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s ease;
}

nav ul .active {
  border-bottom: 3px solid #232d3b;
  border-radius: 1px;
  display: inline-block;
  outline: none;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #232d3b;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive Breakpoint */

/* Ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    margin-right: -20em;
    margin-top: 2vh;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #ffe877;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
  .home-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 150px;
    height: 150px;
    background-image: radial-gradient(#ffe877, #fff);
    border-radius: 50%;
  }

  .gallery li {
    flex-direction: column;
  }

  .judul-resume {
    margin-top: 0;
  }
}

.home-section {
  width: 100%;
  height: 100vh;
}

.bulet {
  width: 350px;
  height: 350px;
  background-image: radial-gradient(#ffe877, #fff);
  border-radius: 50%;
  position: relative;
}

.foto img {
  position: absolute;
  max-width: 350px;
  border-radius: 50%;

  border-radius: 50%;
}

/* About */
.about-section {
  width: 100%;
  min-height: 75vh;
}

.kotak {
  width: 100%;
  height: 300px;
  background-color: #ffe877;
}

.isi {
  position: absolute;
  text-align: center;
  color: #2a2c41;
}

/* Resume */
#resume {
  width: 100%;
  min-height: 85vh;
}

.timeline-left,
.timeline-right {
  max-width: 400px;
}

/* .timeline-right {
  margin-top: 25vh;
} */

.timeline-body-right,
.timeline-body-left {
  position: relative;
  background-color: #ffe877;
  /* margin-right: 100px; */
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.timeline-body-left {
  border-radius: 20px 0 0px 20px;
}
.timeline-body-right {
  border-radius: 0 20px 20px 0;
}

.timeline-body-left::after,
.timeline-body-right::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #2a2c41;
  top: 0;
}

.timeline-body-left::after {
  right: -3px;
}

.timeline-body-right::after {
  left: -2px;
}

.timeline-item-left {
  position: relative;
}

.timeline-item-left::after,
.timeline-item-right::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #2a2c41;
  background-color: #2a2c41;
  top: 43%;
  z-index: 9;
}

.timeline-item-left::after {
  right: -17px;
}
.timeline-item-right::after {
  left: -9px;
}

.judul-resume {
  margin-top: 6rem;
}

/* skills */
#skills {
  width: 100%;
  min-height: 50vh;
  background-color: #ffe877;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.isi-skills {
  position: absolute;
}

.judul {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.gallery li {
  width: 110px;
  height: 110px;
  /* overflow: hidden; */
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  position: relative;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}

.gallery li img {
  max-width: 110px;
  max-height: 110px;
  border-radius: 50%;
}

.gallery li span {
  display: block;
  width: 110px;
  height: 110px;
  background-color: rgba(255, 232, 191, 0.9);
  border-radius: 50%;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 113px;
  color: #2a2c41;
  font-size: 20px;
  font-weight: 150;

  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.3s;
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.clear {
  clear: both;
}

/* portfolio */
#portfolio {
  width: 100%;
  min-height: 100vh;
  margin-top: 3vh;
  margin-bottom: 20vh;
}

/* .judul-port {
  margin-bottom: 10vh;
} */

.kartu {
  width: 280px;
  height: 350px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  margin: 5px auto;
  /* background: rgba(255, 232, 191, 1); */
  background-color: #ffe877;
  overflow: hidden;
  border-top: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.kartu img {
  max-width: 250px;
}

.content {
  padding: 20px;
  text-align: center;
}

/* contact begin */
#contact {
  width: 100%;
  min-height: 75vh;
}

.box-contact {
  width: 100%;
  max-width: 700px;
  background-color: #ffe877;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #ffe877;
  outline: none;
  border-bottom: 1px solid #232d3b;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  cursor: text;
  transition: 0.1s;
}

.wrapper a {
  text-decoration: none;
  color: #232d3b;
}

/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
  background: #fff6ea;
  color: #232d3b;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #ffe877;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: #ffe877;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #fff6ea;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #232d3b;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
}

.baris .input-group {
  flex-basis: 48%;
}

.btn-loading {
  background-color: #fff6ea;
  margin-left: 10px;
}

/* sosmed section */
.wrapper .button {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  background-color: #ffe877;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.wrapper .button:hover {
  width: 200px;
  border-radius: 50px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
}

.wrapper a:nth-child(1) .button:hover .icon {
  background-color: #fbbc05;
}
.wrapper a:nth-child(2) .button:hover .icon {
  background-color: #19a7a4;
}
.wrapper a:nth-child(3) .button:hover .icon {
  background-color: #075e54;
}
.wrapper a:nth-child(4) .button:hover .icon {
  background-color: #fb3958;
}
.wrapper a:nth-child(5) .button:hover .icon {
  background-color: #171515;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

/* .wrapper .button:nth-child(1):hover span {
  background-color: #ffe877;
} */

.text-contact {
  margin-left: 8vh;
}

/* footer */
#sticky-footer {
  background-color: #ffe877;
}
